.error{
    color: red;
    font-style: italic;
    font-weight: 400;

}
.content {
    min-height: 550px;;
}

.footer-area{
    background: rgb(55, 60, 77);
    text-align:center;
    color: #fff;
}
