.loginForm {
    max-width: 500px;
    border: 2px solid rgba(19, 197, 203, 0.42);
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 8px 8px 20px;
   
}
.login-main {
    margin: 40px;
    
    padding: 50px 50px 10px 50px;
    background-color: #b2f1f3;
    border-radius: 10px;
}
.login-header {
    text-align: center;
}
.login-text {
    margin: 20px 0px;
}
label {
    margin: 10px 0px 4px 0px;
}
.login-signup-option {
    text-align: center;
    margin-top: 50px;
}
input:focus {
    border: 1px solid black;
}